#event-tab-list {
    border-radius: 0px !important;
    background-color: #88C659 !important;
    padding: 0px !important;
}

#event-tab-list li {
    width: 20% !important;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px !important;
}

#event-tab-list li a {
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 0px !important;
}

#event-tab-list li a:hover {
    background-color: #FFFFFF !important;
    color: #88C659 !important;
}

#event-tab-list > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #FFFFFF !important;
    color: #88C659 !important;
    transition: background-color 0.1s ease 0.2s !important;
}

.sm-img {
    height: 150px !important;
    width: 100% !important;
    padding: 15px !important;
}

.event-name-typ {
    color: #000000 !important;
    font-size: 24px;
}

#tickets_detalis {
    background-color: #FFFFFF !important;
}

.heart {
    border: 1px solid #ccc !important;
}

.mar {
    background-color: #DCEDC8 !important;
    height: 4px !important;
    margin-top: 24px;
}

.qty-block {
    display: block !important;
    max-width: 100px !important;
}

.bootstrap-touchspin {
    border: 1px solid #e7e7e7 !important;
}

.qty-block .form-control {
    border-right: medium none !important;
    box-shadow: none !important;
}

.product-qty .form-control {
    height: 34px !important;
    min-height: auto !important;
}

.bootstrap-touchspin > .form-group > input {
    max-width: 34px !important;
}

.share_detalis .form-group .form-control {
    border: 1px #ccc solid !important;
    border-radius: 0;
    box-shadow: none;
    float: none;
    font-weight: 400;
    transition: background 0s ease-out 0s;
    padding: 5px;
    border-radius: 5px;
}

.share_detalis .form-group .text-black {
    color: #000 !important;
    font-size: 13px !important;
}

.pay_hed {
    color: #000;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important
}

.fa_fan {
    color: #689F38 !important;
}

.payment_way {
    padding: 15px !important;
}

inp_fil {
    font-weight: 10px;
    transition: background 0s ease-out 0s;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 7px 25px;
}

.payment_btn {
    font-size: 16px;
    border-radius: 1px;
    opacity: 2;
    text-transform: uppercase;
    font-weight: bold;
}

.payment_btn .fa {
    font-size: 18px;
}

.pay_img {
    padding-top: 50px !important;
}

.pb_body {
    padding: 0px !important;
}


/*.pnp_hd
{
   padding-top: 60px !important;
}*/

.hed_pen {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.no_found {
    background-color: #fff !important;
    font-color: #000 !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.no_found .section-heading h1,
h2,
h3,
h4 {
    color: #000;
}

.terms_con {
    background-color: #fff !important;
}

.sprinoff .input-group {
    width: 130px !important;
    margin: 0 auto;
}

.sprinoff .input-group .input-group-addon,
.sprinoff .input-group .plussprinoff,
.sprinoff .input-group .minusprinoff {
    padding-top: 0px;
    cursor: pointer;
}
#ch1_quan{margin-top: 0px !important;}

.sprinoff .input-group .form-group {
    margin-top: 0px !important;
    border: 1px #ccc solid;
    height: 30px;
    padding-top: 0px !important;
}

.sprinoff .input-group .form-group .form-control {
    height: 30px;
    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    font-weight: 600;
    padding-right: 5px;
}




 /*from eventTickets css*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .l1 {
        padding: 8px 105px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l2 {
        padding: 8px 87px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l3 {
        padding: 8px 110px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l4 {
        padding: 8px 106px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l5 {
        padding: 8px 114px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .sprinoff .input-group {
        width: 114px !important;
        margin: 0px auto;
        margin-top: -1px !important;
    }
    .td > .btn-round {
        margin-top: -2px!important;
    }
    #by_ticket{
        margin-top: -2% !important;
    }
}

/*evnt-tickets starts here*/
#event_tab li a{color:#000000 !important;}

.btn-event_l {
    padding: 4px 4px !important;
    font-size: 10px;
}
#event_tab {
    background: #88C659 !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
}
#event_ticket_mainRight {
    background: #FBFBFB;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
}
.event_tickets_h3 {
    margin-top: 32px !important;
}
.event_tickets_h4_Rom {
    float: left !important;
}
.btn-size {
    width: 107% !important
}
.eve_tic_d_menu_ul {
    border: 1px solid #88C659;
    margin-left: 16px !important;
    margin-top: -9px !important;
}
.eve_tic_d_menu_ul_li_a {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.dropdown-menu li a:hover {
    background: #88C659;
    color: #000 !important;
}
.dropdown-menu li > a,
.dropdown-menu li > span {
    color: #4285f4 !important;
    display: block !important;
    font-size: 15px !important;
    color: #88C659 !important;
}
.my_panel {
    border: 1px solid #88C659;
    margin-top: 40px;
}
.panel_heading_set {
    background: #88C659 !important;
    padding: 10px;
}
.panel_heading {
    color: #fff !important
}
#event-tab-list {
    border-radius: 0px !important;
    background-color: #88C659 !important;
    padding: 0px !important;
}
#event_tickets_dropdownmenu {
    color: black
}
#event_tickets_img {
    float: right;
}
#event-tab-list li {
    width: 20% !important;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px !important;
}
#event-tab-list li a {
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 0px !important;
}
#event-tab-list li a:hover {
    background-color: #FFFFFF !important;
    color: #88C659 !important;
}
#event-tab-list > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #FFFFFF !important;
    color: #88C659 !important;
    transition: background-color 0.1s ease 0.2s !important;
}
.td > .btn-round {
    border-radius: 30px !important;
    border-width: 1px;
    margin-top: 27px;
    padding: 9px 18px;
}

#event_ticket_button.#event_includes_button {
    margin-top: 25px
}
.cart_tbl{
    background: none !important;
    border: none !important;
}
.cart_tbl td,th 
{
  text-align: center;
  border: none !important;
  padding: 0px;
   
}
/*sprinoff css*/

.sprinoff .input-group {
    width: 130px !important;
    margin: 0 auto;
}
.sprinoff .input-group .input-group-addon,
.sprinoff .input-group .plussprinoff,
.sprinoff .input-group .minusprinoff {
    padding-top: 0px;
    cursor: pointer;
}
.sprinoff .input-group .form-group {
    margin-top: 0px !important;
    border: 1px #ccc solid;
    height: 30px;
    padding-top: 0px !important;
}
.sprinoff .input-group .form-group .form-control {
    height: 30px;
    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    font-weight: 600;
    padding-right: 5px;
}
#event_table {
    padding-left: 0% !important;
    padding-right: 0% !important;
}

/*evnt-tickets ends here*/


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88C659;
}

/* Float the list items side by side */

ul.tab li {
    float: left;
}

/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    colo: #fff !important;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
}

/* Change background color of links on hover */

ul.tab li a:hover {
    background-color: #fff!important;
    color: #88C659 !important;
}

/* Create an active/current tablink class */

ul.tab li a:focus,
.active {
    background-color: #fff;
    color: #88C659 !important;
    transition: background-color 0.1s ease 0.2s !important;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background: #F5F5F5 !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
}

/* 
	Generic Styling, for Desktops/Laptops 
	*/

table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}





/*#cashDbut1{width:250px}
#cashDbut2{width: 250px}*/
