@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .l1 {
        padding: 8px 105px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l2 {
        padding: 8px 87px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l3 {
        padding: 8px 110px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l4 {
        padding: 8px 106px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    .l5 {
        padding: 8px 114px !important;
        font-size: 18px !important;
        font-weight: normal !important;
    }
    /*panel top selector ends here*/
    .checkout1_h3_1 {
        font-size: 14px !important;
    }
    /*    ////////////////////////////////////////////*/
    .sprinoff .input-group {
        width: 114px !important;
        margin: 0px auto;
        margin-top: -1px !important;
    }
    .td > .btn-round {
        margin-top: -2px!important;
    }
    #by_ticket {
        margin-top: -2% !important;
    }
    /*    ////////////////////////////////////////////*/
    .pay_hed {
        text-align: center !important;
        font-size: 18px !important;
    }
    /*    ////////////////////////////////////////////*/
    .pament_button2 {
        font-size: 15px !important;
    }
    .pament_button3 {
        font-size: 15px !important;
        width: 190px !important;
        text-align: center !important;
    }
    .pament-icon {}
    /*    ////////////////////////////////////////////*/
    #cashDbut1 {
        font-size: 12px !important;
        width: 196px !important;
    }
    #cashDbut2 {
        font-size: 12px !important;
        width: 196px !important;
    }
    /*    ////////////////////////////////////////////*/
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .l1 {
        padding: 8px 125px !important;
        font-size: 18px !important;
        font-weight: normal !important;
        margin: 0 auto !important;
    }
    .l2 {
        padding: 8px 125px !important;
        font-size: 18px !important;
        font-weight: normal !important;
        margin: 0 auto !important;
    }
    .l3 {
        padding: 8px 125px !important;
        font-size: 18px !important;
        font-weight: normal !important;
        margin: 0 auto !important;
    }
    .l4 {
        padding: 8px 126px !important;
        font-size: 18px !important;
        font-weight: normal !important;
        margin: 0 auto !important;
    }
    .l5 {
        padding: 8px 136px !important;
        font-size: 17px !important;
        font-weight: normal !important;
        margin: 0 auto !important;
    }
    /*panel top selector ends here*/
    /* ////////////////////////////////////////*/
    .pay_hed {
        text-align: center !important;
        font-size: 18px !important;
    }
    /* ////////////////////////////////////////*/
    .checkout1_h3_1 {
        font-size: 17px !important;
    }
    /* ////////////////////////////////////////*/
    /* ////////////////////////////////////////*/
    #cashDbut1 {
        font-size: 12px !important;
        width: 235px !important;
    }
    #cashDbut2 {
        font-size: 12px !important;
        width: 235px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .l1 {
        font-size: 16px !important;
        font-weight: normal !important;
        padding: 12px 32px !important;
    }
    .l2 {
        font-size: 16px !important;
        font-weight: normal !important;
        padding: 12px 32px !important;
    }
    .l3 {
        font-size: 16px !important;
        font-weight: normal !important;
        padding: 12px 32px !important;
    }
    .l4 {
        font-size: 16px !important;
        font-weight: normal !important;
        padding: 12px 32px !important;
    }
    .l5 {
        font-size: 16px !important;
        font-weight: normal !important;
        padding: 12px 32px !important;
    }
    /*panel top selector ends here*/
    .checkout1_h3_1 {
        font-size: 22px !important;
        text-align: center !important;
    }
    /* ////////////////////////////////////////*/
    .pay_hed {
        text-align: center !important;
        font-size: 20px !important;
    }
    /* ////////////////////////////////////////*/
    .eve_tic_d_menu_ul {
        border: 1px solid #88C659;
        margin-left: 140px !important;
        margin-top: -9px !important;
        width: 5px !important;
    }
    /* ////////////////////////////////////////*/
    .sprinoff>.input-group {
        margin-top: -4px !important
    }
    /* ////////////////////////////////////////*/
    .pament_button1 {
        width: 150px !important;
        font-size: 13px !important;
    }
    .pament_button2 {
        width: 149px !important;
        font-size: 12px !important;
        height:36px !important;
    }
    .pament_button3 {
        font-size: 13px !important;
        width: 135px !important;
        text-align: center !important;
    }
    .pament-icon {
        font-size: 11px !important
    }
    /* ////////////////////////////////////////*/
    /*#cashDbut1 {
        font-size: 12px !important;
        width: 160px !important;
    }
    #cashDbut2 {
        font-size: 12px !important;
        width: 160px !important;
    }*/
    /* ////////////////////////////////////////*/
}