body{
    overflow-x: hidden!important;
}
/*#movie-detail-tp{
    position: absolute; 
top:380px;}*/
.carousel-item-overlay{
	background-color:rgba(136, 198, 89, 0.2) !important;
	position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
	display:block;
	overflow:visible;
}

.ci-overlay-bottom{
	background-color:rgba(0, 0, 0, 0.7) !important;
	position: absolute;
    z-index: 100;
    top: 320px;
    left: 0;
    width: 100%;
    height: 200px;
	display:block;
	overflow:visible;
}

.dtplay
{
	background-image: url(../img/video-play-outline.png);
	background-position:center;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 47.4%;
    width: 70px;
    height: 70px;
	display:block;
	opacity:0.6;
	border-radius:70px;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
	-moz-transition:all 1000ms ease; -webkit-transition:all 1000ms ease; -ms-transition:all 1000ms ease; 
	-o-transition:all 1000ms ease; transition:all 1000ms ease;
}

.dtplay:hover
{
	background-image: none;
	background: url(../img/video-play-fill.png);
	background-position:center;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 47.4%;
    width: 70px;
    height: 70px;
	display:block;
	opacity:1;
	border:7px solid #8BC34A;
	border-radius:70px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	-moz-transition:all 700ms ease; -webkit-transition:all 700ms ease; -ms-transition:all 700ms ease; 
	-o-transition:all 700ms ease; transition:all 700ms ease;
}

.movie-thumb{
	
}


.ch-image-reflect
{
    z-index:200 !important;
    opacity:1 !important;
    width: 250px !important; 
	height: 350px !important;
	position:absolute !important;
	top:155px !important;
	left:50px !important;
	border-radius:5px !important;
	border-color:#D7E7BA !important;
}

.panel-movies{
	overflow:hidden !important;
}

.panel-movies > .panel-heading{
	background:url(../img/panel-heads/111.jpg) no-repeat !important;
	background-size:cover !important;
	height:120px !important;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	border:none !important;
	border:0px !important;
}

.panel-movies > .panel-heading-overlay img{
	height:120px !important;
	width:100% !important;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	border:none !important;
	border:0px !important;
	position:absolute;
	top:0;
	z-index:10;
	margin-left:-30px !important;
}

.panel-ticket{
	overflow:hidden !important;
}

.panel-ticket > .panel-heading{
	background:url(../img/panel-heads/121.jpg) no-repeat !important;
	background-size:cover !important;
	height:120px !important;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	border:none !important;
	border:0px !important;
}

.panel-ticket > .panel-heading-overlay img{
	height:120px !important;
	width:100% !important;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	border:none !important;
	border:0px !important;
	position:absolute;
	top:0;
	z-index:10;
	margin-left:-30px !important;
}

.panel-name{
	color:#ffffff !important;
	text-shadow: 0 2px 2px rgba(0,0,0,0.25) !important;
	/*font-weight:bolder !important;*/
	text-align:center !important;
	text-transform:uppercase;
}

.panel-movies > .panel-body{padding:0px !important;}
.panel-movies > .list-group-item{padding:10px !important;}
.panel-movies > .media-body, .media-left, .media-right{
	/*display:inline-table !important;*/
	float:left !important;
}

.panel-movies > .panel-footer{

background: #56ab2f; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
		
.panel-movies > .list-group-item{ border-left: 0 none !important; border-right: 0 none !important;}

.panel-ticket > .panel-heading{
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	border:none !important;
	border:0px !important;
	text-transform:uppercase !important;
}
.item-img-still
{
    opacity: 0.8 !important;
    width: 100%;
}

.owl-carousel-img
{
    width: 100%;
}
.social-share{
    height: 50px;
    margin-top: 100px;
}
.movie_title
{
    font-size: 26px !important;
    color: #fff;
    margin-top: 0px !important;
	text-transform:uppercase !important;
}
.sine
{
    color: #00ff00;

}

.movie_genre_btn
{
	border-color: #fff !important;
	color:#fff !important;
}

.middle-panel
{
    margin-top: 12px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.booking-tct
{
    color: #fff;
}
.showing-tct
{
  color: #fff;  
}

.top-head
{
    height:60px !important;
    background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 22%, rgba(114,170,0,1) 46%, rgba(142,185,42,1) 67%, rgba(158,203,45,1) 100%); 
/*    background-color:#7CB342 !important;*/
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.seat-tbl > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th{
    font-size:14px;
    font-weight: bold;
    text-align: center;
    margin: 0px !important;
    text-transform: uppercase;
}
.vac
{
    vertical-align: central !important;
  
}
.btn-tkt-tbl{
    margin:0px !important;
    
}
.tbl-hd
{
  
/*background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);*/
  background-color: #607D8B !important;

}
.dscrip
{
    background-color: #fff !important; 
    width: 100% !important;
}
.info-movie1
{
    background-color: #9CCC65 !important;
}
.info-movie2
{
    background-color: #9CCC65 !important;
}

.info-movie3
{
    background-color: #9CCC65 !important;
}
.hd-info
{
/*    background-color: #9CCC65 !important;*/
 background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 22%, rgba(114,170,0,1) 46%, rgba(142,185,42,1) 67%, rgba(158,203,45,1) 100%); 
}

/*@media only screen and (max-width: 500px) {
    #movie-detail-tp{
        position: relative;
        margin-top: 0px;
    }
    
    .container-fluid{ padding-bottom: 10px; }
    .showing-tct{  color: #000; font-size: 1em; padding-top: 10px; }
    .booking-tct{ font-size: 1em; }
    .eventTitle{ color: #000; }
}*/