
.section-heading >.text-center{
	width:70%  !important;
	margin-left: 12%  !important;
	padding: 2% !important;
}
.section-heading h1{

	padding-top: 5%;
	color: #212121;
}
.sitemap-right{
	background-color: #FFF;
	margin-bottom:4%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}


.list-group-item {
   margin-bottom: -16px !important;
   border-top: 1px solid #008A4F !important;
   border-bottom: 1px solid#008A4F !important;
   border-left: none !important;
   border-right: none !important;
}
.list-group-item a{

    color:#000000 !important;
}

.list-group li:hover{
    background: #88C659;
    transition:all 0.3s ease;

}

.list-group li{
     transition: all 0.3s ease 0s;

}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index:0;
	color: #FFF;
    background-color: #88C659;
}
.pull-right{margin-right: 10px !important;}

.list-group-item {
    position: relative;
    display: block;
	padding: 15px 10px 24px 20px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.sitemap-title{
	color:#000000;
	text-align: left !important;
}
.sitemap-list a{color: #008A4F}

/*  sponsor page css start here */

.sponsor_img {
	width: 150px;
	height: 130px;
}
.sitemap_sponsor{
	padding: 3%;
}
.sitemap_sponsor img{
	margin: 0 auto;
}
.sponsor_list_top img{
	border: 1px solid#DDD;
	padding:10px;
}
.sponsor_list_top img{
	margin: 0 auto;
}
.sponsor_list_top {
	margin-bottom: 2%;
}
.sitemap_sponsor h4{
	margin-left:2% !important;
	margin-top:-1%;
	color: #444444;
	font-weight: bold !important;
}

.sitemap_sponsor_left h5{
	background:#333333;
	padding: 3%;
	color: #dddddd;
	font-weight: bold;
	text-align:center;
}
.sitemap_sponsor_left li{
	padding-bottom:3%;
	margin-right: 2%;
}
.sitemap_sponsor_left i{
	color: #88C659;
}
/*  sponsor page css end here */


/*  terms page css start here */


.sitemap_terms{

	padding: 2%;
}
.sitemap_terms h4{
	margin-left: 15px;
}

.sitemap_terms p{
	margin-right: 6%;
}


/*  terms page css end here */


/*  sitemap_buy page css start here */

.sitemap_buy_h h4{

    text-align: left;
    color: #000;

}
.sitemap_buy img{
	margin:0 auto;;
}
.sitemap_buy {

	padding: 4%;
}

/*  sitemap_buy page css end here */


/*  customar_support page css start here */

.media-heading{
	text-align: left;
}
.customar_support{
	padding: 2%;
}
.customar_support h4{
	color:#000;
}

.btn_sitemap_customar_support {
	background-color: #4CAF50 !important;
	color: #fff !important;
	border: 1px solid;
}
.i_sitemap_customar_support {

	color: #4CAF50 !important;
}
/*  customar_support page css end here */