
.wishlist_main{
	background: #FFFFFF;
	/*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
}
.wishlist_img {
	max-width: 100px;
	max-height: 100px;
	margin:0 auto 15px;
}
